/* Global styles */
@font-face {
  font-family: 'Fanwood';
  src: url("../fonts/Fanwood/FanwoodText-Regular.ttf");
}

@font-face {
  font-family: 'Suravaram';
  src: url("../fonts/Suravaram/Suravaram-Regular.ttf");
}

/* Styles limited to mythras sheets */
.mythras .window-content {
  padding: 0px;
}

.mythras header.sheet-header {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("../assets/sheet/header-background.jpg");
  background-repeat: repeat;
  color: white;
  padding: 10px;
  -webkit-box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
}

.mythras header.sheet-header input {
  border: 0;
}

.mythras header.sheet-header input:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mythras header.sheet-header .input-label {
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
  text-shadow: 0px 0px 6px black;
}

.mythras header.sheet-header .header-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}

.mythras header.sheet-header .header-personal .names input {
  color: white;
  border-bottom: solid white 1px;
  border-radius: 0;
  font-family: 'Fanwood';
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 6px black;
}

.mythras header.sheet-header .header-personal .names .char-name {
  font-size: 2.0em;
  height: 35px;
}

.mythras header.sheet-header .header-personal .names .player-name {
  margin-top: 13px;
}

.mythras header.sheet-header .header-personal .token-img {
  border-radius: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
}

.mythras header.sheet-header .header-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras header.sheet-header .header-stats input {
  background-color: white;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 2.3em;
  font-family: 'Suravaram';
  border-radius: 30px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
}

.mythras header.sheet-header .header-stats .input-label {
  width: 70px;
  text-align: center;
  height: 28px;
}

.mythras header.sheet-header .header-stats .stats-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mythras header.sheet-header .header-stats .stats-container .number-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mythras header.sheet-header .header-stats .stats-container .number-input-container .plus-minus-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.2em;
}

.mythras header.sheet-header .header-stats .stats-container .number-input-container .plus-minus-buttons a:hover {
  text-shadow: 0px 0px 5px white;
}

.mythras header.sheet-header .header-stats .stats-container .number-input-container .plus-minus-buttons a:active {
  color: #DDD;
}

.mythras .tabs {
  height: 50px;
}

.mythras .sheet-body {
  height: 800px;
}
