@font-face {
    font-family: 'Fanwood';
    src: url('../fonts/Fanwood/FanwoodText-Regular.ttf')
}

@font-face {
    font-family: 'Suravaram';
    src: url('../fonts/Suravaram/Suravaram-Regular.ttf')
}