<div class="tab abilities" data-group="primary" data-tab="abilities">
  <h2>
    {{localize 'MYTHRAS.Abilities'}}
  </h2>
  <div class="abilities-tables">
    <div>
      <h3>
            <span>
              {{localize 'MYTHRAS.Magic_Skills'}}
            </span>
        <a class="add-skills-button item-create" title="Create item" data-type="magicSkill">
          +
        </a>
      </h3>
      <table class="ability-table">
        <thead>
        <th>
          {{localize 'MYTHRAS.Name'}}
        </th>
        <th>
          {{localize 'MYTHRAS.Cult'}}
        </th>
        <th>
          {{localize 'MYTHRAS.Info'}}
        </th>
        <th>
          {{localize 'MYTHRAS.Roll'}}
        </th>
        <th class="delete-column">
          <i class="fas fa-trash"></i>
        </th>
        </thead>
        <tbody>
        {{#each actor.magicSkills as |item id|}}
        <tr class="item" data-item-id="{{item.data._id}}">
          <td>
            <a class="item-name item-control item-edit">
              {{item.data.name}}
            </a>
          </td>
          <td>
            {{localizeSkillAbbrev item.data.data.primaryChar}} + {{localizeSkillAbbrev
            item.data.data.secondaryChar}}
          </td>
          <td>
            {{localizeSkillAbbrev item.data.data.primaryChar}} + {{localizeSkillAbbrev
            item.data.data.secondaryChar}}
          </td>
          <td>
            <a class="skill-val rollableSkill" data-roll="1d100"
               data-label="{{item.data.name}},{{item.data.data.totalVal}}">
              {{item.data.data.totalVal}}%
            </a>
          </td>
          <td>
            <a class="item-control item-delete delete-column" title="Delete Item">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    <div class="bottom-row">
      <div class="desc abilities-desc" data-group="primary" data-tab="abilities">
        {{editor data-dtype='String' content=data.data.abilitiesDesc target="data.abilitiesDesc" button=true
        owner=owner
        editable=editable }}
      </div>

    </div>

  </div>

</div>