<div class="tab core" data-group="primary" data-tab="core">
  <div class="core-top-flex">
    <div class="core-personal-info">
        <h2>Character Information</h2>
        <div class="core-personal-flex">
          <div class="core-personal-left-info">
            <p class="input-label">CAREER</p>
            <input type="text" name="data.career" value="{{data.career}}"/>
            <p class="input-label">SOCIAL CLASS</p>
            <input type="text" name="data.socialClass" value="{{data.socialClass}}"/>
            <p class="input-label">GENDER</p>
            <input type="text" name="data.gender" value="{{data.gender}}"/>
          </div>
          <div class="core-personal-right-info">
            <p class="input-label">HOMELAND</p>
            <input type="text" name="data.homeland" value="{{data.homeland}}"/>
            <p class="input-label">CULTURE</p>
            <input type="text" name="data.raceCulture" value="{{data.raceCulture}}"/>
            <div class="age-height-weight-flex">
              <div class="age">
                <p class="input-label">AGE</p>
                <input type="text" name="data.age" value="{{data.age}}"/>
              </div>
              <div class="height">
                <p class="input-label">HEIGHT</p>
                <input type="text" name="data.height" value="{{data.height}}"/>
              </div>
              <div class="weight">
                <p class="input-label">WEIGHT</p>
                <input type="text" name="data.weight" value="{{data.weight}}"/>
              </div>
            </div>
            
          </div>
        </div>
    </div>
    <div class="core-characteristics-attributes-contianer">
        <h2>Characteristics</h2>
        <div class="core-characteristics">
          <div>
            <input name="data.characteristics.str.value" value="{{data.characteristics.str.value}}" type="text" />
            <label>STRENGTH</label>
          </div>
          <div>
            <input name="data.characteristics.con.value" value="{{data.characteristics.con.value}}" type="text" />
            <label>CONSTITUTION</label>
          </div>
          <div>
            <input name="data.characteristics.siz.value" value="{{data.characteristics.siz.value}}" type="text" />
            <label>SIZE</label>
          </div>
          <div>
            <input name="data.characteristics.dex.value" value="{{data.characteristics.dex.value}}" type="text" />
            <label>DEXTERITY</label>
          </div>
          <div>
            <input name="data.characteristics.int.value" value="{{data.characteristics.int.value}}" type="text" />
            <label>INTELLIGENCE</label>
          </div>
          <div>
            <input name="data.characteristics.pow.value" value="{{data.characteristics.pow.value}}" type="text" />
            <label>POWER</label>
          </div>
          <div>
            <input name="data.characteristics.cha.value" value="{{data.characteristics.cha.value}}" type="text" />
            <label>CHARISMA</label>
          </div>
        </div>
        <h2>Attributes</h2>
        <div class="core-attributes">
          <input name="data.attributes.damageMod" value="{{data.attributes.damageMod}}" type="text" />
        </div>
    </div>

  </div>
  <hr>
  <div class="core-skills">
    <h2>Skills</h2>
      <ol class="item-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>
          </div>
        </li>
        {{#each actor.gear as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol> 
  </div>
</div>