<div class="tab equipment" data-group="primary" data-tab="equipment">
  <div class="equipment-tables">
    <div>
      <h3><span>Weapons</span><a class="add-equipment-button item-create" title="Create item" data-type="standardSkill">+</a></h3>
      <table class="weapons-table">
        <thead>
          <th>Name</th>
          <th>Base Char</th>
          <th>%</th>
          <th class="delete-column"><i class="fas fa-trash"></i></th>
        </thead>
        <tbody>
          {{#each actor.standardSkills as |item id|}}
            <tr class="item" data-item-id="{{item._id}}">
              <td>
                <a class="item-name item-control item-edit">{{item.name}}</a>
              </td>
              <td>
                {{toUpperCase item.data.primaryChar}} + {{toUpperCase item.data.secondaryChar}}
              </td>
              <td>
                <a class="skill-val rollable" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">{{item.data.totalVal}}</a>
              </td>
              <td>
                <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div>
      <h3><span>Armor</span><a class="add-equipment-button item-create" title="Create item" data-type="combatStyle">+</a></h3>
      <table class="armor-table">
        <thead>
          <th>Name</th>
          <th>%</th>
          <th class="delete-column"><i class="fas fa-trash"></i></th>
        </thead>
        <tbody>
          {{#each actor.combatStyles as |item id|}}
            <tr class="item" data-item-id="{{item._id}}">
              <td>
                <a class="item-name item-control item-edit">{{item.name}}</a>
              </td>
              <td>
                <a class="skill-val rollable" data-roll="d100" data-label="{{item.name}},{{item.data.totalVal}}">{{item.data.totalVal}}</a>
              </td>
              <td>
                <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>