<div class="tab core" data-group="primary" data-tab="core">
  <div class="core-top-flex">
    <div class="core-personal-info">
        <h2>Information</h2>
        <div class="core-personal-flex">
          <div class="core-personal-left-info">
            <p class="input-label">CAREER</p>
            <input type="text" name="data.career" value="{{data.career}}"/>
            <p class="input-label">SOCIAL CLASS</p>
            <input type="text" name="data.socialClass" value="{{data.socialClass}}"/>
            <p class="input-label">GENDER</p>
            <input type="text" name="data.gender" value="{{data.gender}}"/>
            <p class="input-label">HANDEDNESS</p>
            <input type="text" name="data.handedness" value="{{data.handedness}}"/>
          </div>
          <div class="core-personal-right-info">
            <p class="input-label">HOMELAND</p>
            <input type="text" name="data.homeland" value="{{data.homeland}}"/>
            <p class="input-label">CULTURE</p>
            <input type="text" name="data.raceCulture" value="{{data.raceCulture}}"/>
            <div class="age-height-weight-flex">
              <div class="age">
                <p class="input-label">AGE</p>
                <input type="text" name="data.age" value="{{data.age}}"/>
              </div>
              <div class="height">
                <p class="input-label">HEIGHT</p>
                <input type="text" name="data.height" value="{{data.height}}"/>
              </div>
              <div class="weight">
                <p class="input-label">WEIGHT</p>
                <input type="text" name="data.weight" value="{{data.weight}}"/>
              </div>
            </div>
            <p class="input-label">FRAME</p>
            <input type="text" name="data.frame" value="{{data.frame}}"/>
          </div>
        </div>
        <h2>Fatigue</h2>
        <div class="fatigue-container">
          <select>
            <option>Fresh</option>
            <option>Winded</option>
            <option>Tired</option>
            <option>Wearied</option>
            <option>Exhausted</option>
            <option>Debilitated</option>
            <option>Incapacitated</option>
            <option>Semi-Conscious</option>
            <option>Comatose</option>
            <option>Dead</option>
          </select>
          <p>time until</p>
        </div>
    </div>
    <div class="core-characteristics-attributes-contianer">
        <h2>Characteristics</h2>
        <div class="core-characteristics">
          <div>
            <input name="data.characteristics.str.value" value="{{data.characteristics.str.value}}" type="text" />
            <label>STRENGTH</label>
          </div>
          <div>
            <input name="data.characteristics.con.value" value="{{data.characteristics.con.value}}" type="text" />
            <label>CONSTITUTION</label>
          </div>
          <div>
            <input name="data.characteristics.siz.value" value="{{data.characteristics.siz.value}}" type="text" />
            <label>SIZE</label>
          </div>
          <div>
            <input name="data.characteristics.dex.value" value="{{data.characteristics.dex.value}}" type="text" />
            <label>DEXTERITY</label>
          </div>
          <div>
            <input name="data.characteristics.int.value" value="{{data.characteristics.int.value}}" type="text" />
            <label>INTELLIGENCE</label>
          </div>
          <div>
            <input name="data.characteristics.pow.value" value="{{data.characteristics.pow.value}}" type="text" />
            <label>POWER</label>
          </div>
          <div>
            <input name="data.characteristics.cha.value" value="{{data.characteristics.cha.value}}" type="text" />
            <label>CHARISMA</label>
          </div>
        </div>
        <h2>Attributes</h2>
        <div class="core-attributes">
          <div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.actionPoints">{{data.attributes.actionPoints}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">ACTION POINTS</p>
            </div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.damageMod">{{data.attributes.damageMod}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">DAMAGE MOD</p>
            </div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.experienceMod">{{data.attributes.experienceMod}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">EXPERIENCE MOD</p>
            </div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.healingRate">{{data.attributes.healingRate}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">HEALING RATE</p>
            </div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.initiativeBonus">{{data.attributes.initiativeBonus}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">INITIATIVE BONUS</p>
            </div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.luckPoints">{{data.attributes.luckPoints}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">LUCK<br>POINTS</p>
            </div>
            <div class="attribute-container">
              <div class="attribute">
                <p name="data.attributes.movementRate">{{data.attributes.movementRate}}</p>
                <div>
                  <span>+</span><input type="text" />
                </div>
              </div>
              <p class="attribute-label">MOVEMENT RATE</p>
            </div>
          </div>
        </div>
        
        <div class="movement-container">
          <h3>Movement</h3>
          <div class="movement-inner-container">
            <div>
              <p>6</p>
              <p class="movement-label">WALK</p>
            </div>
            <div>
              <p>6</p>
              <p class="movement-label">RUN</p>
            </div>
            <div>
              <p>6</p>
              <p class="movement-label">SPRINT</p>
            </div>
            <div>
              <p>6</p>
              <p class="movement-label">CLIMB</p>
            </div>
            <div>
              <p>6</p>
              <p class="movement-label">SWIM</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <hr>
  <div class="core-skills">
    <h2>Skills</h2>
    <div class="skill-tables">
      <div class="tables-left">
        <div>
          <h3><span>Standard Skills</span><a class="add-skills-button item-create" title="Create item" data-type="skill">+</a></h3>
          <table class="basic-skills-table">
            <thead>
              <th>Name</th>
              <th>%</th>
              <th class="delete-column"><i class="fas fa-trash"></i></th>
            </thead>
            <tbody>
              {{#each actor.standardSkills as |item id|}}
                <tr class="item" data-item-id="{{item._id}}">
                  <td>
                    <a class="item-name item-control item-edit">{{item.name}}</a>
                  </td>
                  <td>
                    {{item.data.baseVal.value}}
                  </td>
                  <td>
                    <a class="item-control item-delete delete-column" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="tables-right">
        <div>
          <h3><span>Professional Skills</span><a class="add-skills-button">+</a></h3>
          <table class="professional-skills-table">
            <thead>
              <th>Name</th>
              <th>%</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>