<div class="tab core" data-group="primary" data-tab="core">
  <div class="core-top-flex">
    <div class="core-personal-info">
      <h2>
        {{localize 'MYTHRAS.Information'}}
      </h2>
      <div class="core-personal-flex">
        <div class="core-personal-left-info">
          <p class="input-label">
            {{localize 'MYTHRAS.CAREER'}}
          </p>
          <input type="text" name="data.career" value="{{data.data.career}}" />
          <p class="input-label">
            {{localize 'MYTHRAS.SOCIAL_CLASS'}}
          </p>
          <input type="text" name="data.socialClass" value="{{data.data.socialClass}}" />
          <p class="input-label">
            {{localize 'MYTHRAS.GENDER'}}
          </p>
          <input type="text" name="data.gender" value="{{data.data.gender}}" />
          <p class="input-label">
            {{localize 'MYTHRAS.HANDEDNESS'}}
          </p>
          <input type="text" name="data.handedness" value="{{data.data.handedness}}" />
        </div>
        <div class="core-personal-right-info">
          <p class="input-label">
            {{localize 'MYTHRAS.HOMELAND'}}
          </p>
          <input type="text" name="data.homeland" value="{{data.data.homeland}}" />
          <p class="input-label">
            {{localize 'MYTHRAS.CULTURE'}}
          </p>
          <input type="text" name="data.raceCulture" value="{{data.data.raceCulture}}" />
          <div class="age-height-weight-flex">
            <div class="age">
              <p class="input-label">
                {{localize 'MYTHRAS.AGE'}}
              </p>
              <input type="text" name="data.age" value="{{data.data.age}}" />
            </div>
            <div class="height">
              <p class="input-label">
                {{localize 'MYTHRAS.HEIGHT'}}
              </p>
              <input type="text" name="data.height" value="{{data.data.height}}" />
              <span style="margin-left: -20px; font-size: small;">
                cm
              </span>
            </div>
            <div class="weight">
              <p class="input-label">
                {{localize 'MYTHRAS.WEIGHT'}}
              </p>
              <input type="text" name="data.weight" value="{{data.data.weight}}" />
            </div>
          </div>
          <p class="input-label">
            {{localize 'MYTHRAS.FRAME'}}
          </p>
          <input type="text" name="data.frame" value="{{data.data.frame}}" />
        </div>
      </div>
      <h2>
        {{localize 'MYTHRAS.Fatigue'}}
      </h2>
      <div class="fatigue-container">
        <select class="fatigue-selector" name="data.attributes.fatigue.value" data-dtype="String">
          {{#select data.data.attributes.fatigue.value}}
          <option value="fresh">
            {{localize 'MYTHRAS.Fresh'}}
          </option>
          <option value="winded">
            {{localize 'MYTHRAS.Winded'}}
          </option>
          <option value="tired">
            {{localize 'MYTHRAS.Tired'}}
          </option>
          <option value="wearied">
            {{localize 'MYTHRAS.Wearied'}}
          </option>
          <option value="exhausted">
            {{localize 'MYTHRAS.Exhausted'}}
          </option>
          <option value="debilitated">
            {{localize 'MYTHRAS.Debilitated'}}
          </option>
          <option value="incapacitated">
            {{localize 'MYTHRAS.Incapacitated'}}
          </option>
          <option value="semi-conscious">
            {{localize 'MYTHRAS.Semi-Conscious'}}
          </option>
          <option value="comatose">
            {{localize 'MYTHRAS.Comatose'}}
          </option>
          <option value="dead">
            {{localize 'MYTHRAS.Dead'}}
          </option>
          {{/select}}
        </select>
        <p>
          {{fatigue.recoveryTime}}
        </p>
      </div>
    </div>
    <div class="core-characteristics-attributes-contianer">
      <h2>
        {{localize 'MYTHRAS.Characteristics'}}
      </h2>
      <div class="core-characteristics">
        {{#each characteristics}} {{> systems/mythras/templates/actor/components/characteristic.html
        characteristic=this characteristicName=@key}} {{/each}}
      </div>
      <h2>
        {{localize 'MYTHRAS.Attributes'}}
      </h2>
      <div class="core-attributes">
        <div>
          {{#each stats}} {{> systems/mythras/templates/actor/components/derived-stat.html
          stat=this statName=@key}} {{/each}}
        </div>
      </div>

      <div data-stat="movement" class="movement-container">
        <div>
          <h3>
            {{localize 'MYTHRAS.Movement'}}
          </h3>
          <div class="movement-mod">
            <span>
              +
            </span>
            <input type="text" name="data.attributes.movement.mod" class="modifier"
              value="{{data.data.attributes.movement.mod}}" />
          </div>
        </div>
        <div class="movement-inner-container">
          <div>
            <p class="modifiable">
              {{movement.walk}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.WALK'}}
            </p>
          </div>
          <div>
            <p class="modifiable">
              {{movement.run}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.RUN'}}
            </p>
          </div>
          <div>
            <p class="modifiable">
              {{movement.sprint}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.SPRINT'}}
            </p>
          </div>
          <div>
            <p class="modifiable">
              {{movement.climb}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.CLIMB'}}
            </p>
          </div>
          <div>
            <p class="modifiable">
              {{movement.jumpHorizontal}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.H._JUMP'}}
            </p>
          </div>
          <div>
            <p class="modifiable">
              {{movement.jumpVertical}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.V._JUMP'}}
            </p>
          </div>
          <div>
            <p class="modifiable">
              {{movement.swim}}
            </p>
            <p class="movement-label">
              {{localize 'MYTHRAS.SWIM'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="core-skills">
    <h2>
      {{localize 'MYTHRAS.Skills'}}
    </h2>
    <div class="skill-tables">
      <div class="tables-left">
        {{> systems/mythras/templates/actor/skills/skill-table.html tableTitle=(localize 'MYTHRAS.Standard_Skills')
        skillType="standardSkill" skills=items.standardSkill}}
      </div>
      <div class="tables-right">
        {{> systems/mythras/templates/actor/skills/skill-table.html tableTitle=(localize
        'MYTHRAS.Professional_Skills') skillType="professionalSkill"
        skills=items.professionalSkill}}
        {{> systems/mythras/templates/actor/skills/skill-table.html tableTitle=(localize
        'MYTHRAS.Combat_Styles') skillType="combatStyle" skills=items.combatStyle}}
        {{> systems/mythras/templates/actor/skills/skill-table.html tableTitle=(localize
        'MYTHRAS.Magic_Skills') skillType="magicSkill" skills=items.magicSkill}}
        {{> systems/mythras/templates/actor/skills/skill-table.html tableTitle=(localize
        'MYTHRAS.Passions') skillType="passion" skills=items.passion}}
        <div>
          <h3>
            <span>
              {{localize 'MYTHRAS.Cults_Brotherhoods'}}
            </span>
            <a class="add-skills-button item-create" title="Create item" data-type="cultBrotherhood">
              +
            </a>
          </h3>
          <table class="basic-skills-table">
            <thead>
              <th>
                {{localize 'MYTHRAS.Name'}}
              </th>
              <th>
                {{localize 'MYTHRAS.Rank'}}
              </th>
              <th class="delete-column">
                <i class="fas fa-trash"></i>
              </th>
            </thead>
            <tbody>
              {{#each items.cultBrotherhood as |item id|}}
              <tr class="item" data-item-id="{{item.data._id}}">
                <td>
                  <a class="item-name item-control item-edit">
                    {{item.data.name}}
                  </a>
                </td>
                <td>
                  {{item.data.data.currentRankName}}
                </td>
                <td>
                  <a class="item-control item-delete delete-column" title="Delete Item">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>