<form class="{{cssClass}} item-sheet hitLocation-sheet flexcol" autocomplete="off">
  <div>
    Name:
    <input name="name" type="text" value="{{item.name}}" placeholder="Name" />

    rollingRangeStart:
    <input type="number" name="system.rollingRangeStart" value="{{system.rollingRangeStart}}" />
    <br />
    rollingRangeEnd:
    <input type="number" name="system.rollingRangeEnd" value="{{system.rollingRangeEnd}}" />
    <br />
    naturalArmor:
    <input type="number" name="system.naturalArmor" value="{{system.naturalArmor}}" />
    <br />
    maxHp:
    <input type="number" name="system.maxHp" value="{{system.maxHp}}" />
    <br />
    currentHp:
    <input type="number" name="system.currentHp" value="{{system.currentHp}}" />
    <br />
    maxHpMod:
    <input type="number" name="system.maxHpMod" value="{{system.maxHpMod}}" />
  </div>
</form>