<form class="{{cssClass}} melee-weapon flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
    </div>
  </header>
  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}

  {{!-- Sheet Body --}}
  <section>
    <div>
      Encumbrance: 
      <input  type="text" name="data.encumbrance" value="{{data.encumbrance}}"/>
    </div>
    <div>
      Quantity: 
      <input type="text" name="data.quantity" value="{{data.quantity}}"/>
    </div>
    <div>
      Value: 
      <input type="text" name="data.value" value="{{data.value}}"/>
    </div>
    <div>
      AP/HP: 
      <input type="text" name="data.ap" value="{{data.hp}}"/>
       / 
      <input type="text" name="data.hp" value="{{data.hp}}"/>
    </div>
    <div>
      Damage: 
      <input type="text" name="data.damage" value="{{data.damage}}"/>
    </div>
    <div>
      Size: 
      <select id="char-change" name="data.size" data-dtype="String">
        {{#select data.size}}
        <option value="S">Small</option>
        <option value="M">Medium</option>
        <option value="L">Large</option>
        <option value="H">Huge</option>
        <option value="E">Enormous</option>
        <option value="BE">Beyond Enormous</option>
        {{/select}}
      </select>
    </div>
    <div>
      Reach: 
      <select id="char-change" name="data.reach" data-dtype="reach">
        {{#select data.reach}}
        <option value="T">Touch</option>
        <option value="S">Short</option>
        <option value="M">Medium</option>
        <option value="L">Long</option>
        <option value="VL">Very Long</option>
        {{/select}}
      </select>
    </div>
    <div>
      Combat Effects: 
      <input type="text" name="data.combat-effects" value="{{data.combat-effects}}"/>
    </div>
    <div>
      Traits: 
      <input type="text" name="data.traits" value="{{data.traits}}"/>
    </div>

    <h2>Description</h2>
      <div class="desc skill-section" data-group="primary">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        <!--<textarea class="editor" name="data.description">{{data.description}}</textarea>-->
      </div>
  </section>
  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}
</form>
