.spell-sheet {
  display: flex;
  flex-direction: column;
  .sheet-body {
    height: unset;
    flex: 1;
  }
  .header-flex {
    justify-content: flex-start;
  }

  .spell-core {
    padding: 5px;
    width: 100%;
    .spell-core-section {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;

      .resource {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .short-input {
        width: 50%;
      }

      .long-input {
        width: 100%;
      }

      select {
        display: block;
      }
    }
  }
}
